package {{ .Package }}
// generated automatically
// if you change the file stash you changes before regenerate model

import (
{{ range $key, $import := .Imports }}{{ $import }}
{{ end }}
)
{{ $index := 0 }}{{ $comma := 0 }}{{ $isSoft := false }}
// {{ .Model }} model{{ if ne .TableDescription ""}}
// {{ .TableDescription }}{{ end }}
type {{ .Model }} struct { {{ range $key, $column := .Columns }}{{ if $column.Description }}
    // {{ $column.Description }}{{ end }}
    {{ $column.ModelName }} {{ if or $column.IsArray $column.IsByteArray }} {{ $column.ModelType }} {{ else }} {{ pointerType $column.ModelType }} {{ end }} {{ $column.Tags }} {{ end }}
}

// Table get {{ .Model }} model table name
func (m *{{ .Model }}) Table() string {
    return "{{ .Table }}"
}

// Columns get all {{ .Model }} model columns
func (m *{{ .Model }}) Columns() []string {
    return []string{ {{ range $key, $column := .Columns }}{{ if $key }}, {{ end }}"{{ $column.Name }}"{{ end }} }
}

// Values get all {{ .Model }} model values
func (m *{{ .Model }}) Values() []any {
    return []any{ {{ range $key, $column := .Columns }}{{ if $key }}, {{ end }}&m.{{ $column.ModelName }}{{ end }} }
}

// New{{ .Model }} init {{ .Model }} model method
func New{{ .Model }}() *{{ .Model }} {
    return &{{ .Model }}{}
}

// New{{ .Model }}Collection init {{ .Model }} collection
func New{{ .Model }}Collection() *gomodel.Collection[{{ .Model }}] {
    return gomodel.NewCollection[{{ .Model }}]()
}
